/.vs
/BiDirectionalStreamingConsole/bin
/BiDirectionalStreamingConsole/obj
/BiDirectionalStreamingWorker/bin
/BiDirectionalStreamingWorker/obj
/SecureTokenService/node_modules
/SecureTokenService/obj
/SecureTokenService/bin
/Secure_gRpc/StsLogs.txt
/SecureGrpc.Server/obj/**/*.*
/SecureGrpc.Server/bin/**/*.*
/SecureGrpc.Client/obj
/SecureGrpc.Client/bin
/SecureGrpc.ManagedClient/bin
/SecureGrpc.ManagedClient/obj
