@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul>
        <li><a href="https://damienbod.com/2019/03/06/security-experiments-with-grpc-and-asp-net-core-3-0/">Security Experiments with gRPC and ASP.NET Core 3.0</a></li>
        <li><a href="https://damienbod.com/2019/03/08/running-razor-pages-and-a-grpc-service-in-a-single-asp-net-core-application/">Running Razor Pages and a gRPC service in a single ASP.NET Core application</a></li>
    </ul>
</div>

<br />

Broadcast to clients

<br />

<form method="post">
    <input name="message">
    <input type="submit">
</form>
